<config>
 <groups>
    <!-- Gruppe Tisch -->
    <group id="tisch" title="Tisch">
      <section id="grundtisch" title="Grundtisch">
        <field id="breite" label="Breite" options="breiten"/>
        <field id="gestell" label="Gestell" options="gestelle"/>
        <field id="farbe" label="Farbe" options="farben"/>
        <field id="platte" label="Platte" options="platten"/>
      </section>
      <section id="seitenblenden" title="Seitenblenden">
        <field id="seitenblende" label="Variante" options="seitenblenden"/>
        <field id="seitenfarbe" label="Farbe" options="seitenfarben"/>
      </section>
    </group>

    <!-- Gruppe Aufbau -->
    <group id="aufbaugruppe" title="Aufbau">
      <section id="aufbau" title="Aufbauportal">
        <field id="aufbau" label="Variante" options="aufbauten"/>
      </section>
      <section id="platten" title="Lochrasterplatten">
        <field id="plattenanzahl" label="Anzahl" options="plattenanzahl"/>
      </section>
      <section id="boeden" title="Verstellbare Böden">
        <field id="bodenanzahl" label="Anzahl" options="bodenanzahl"/>
      </section>
      <section id="laufschienen" title="Laufschienen">
    	<field id="laufschienenanzahl" label="Anzahl" options="laufschienenanzahl"/>
  	  </section>
    </group>
   <group id="unterbau" title="Unterbau">
  <section id="container" title="Container">
    <field id="containerpos" label="Variante" options="containerpos"/>
    <field id="containerfarbe" label="Farbe" options="containerfarben"/>
  </section>
     <section id="ablagebord" title="Ablagebord">
  <field id="ablagebord" label="Variante" options="ablagebordOptionen"/>
</section>
</group>
   
  </groups>

  <options>
   <breiten>
      <wert id="750" default="true">750 mm</wert>
      <wert id="1500">1500 mm</wert>
      <wert id="2000">2000 mm</wert>
    </breiten>
    <gestelle>
      <wert id="ast31" default="true">Manuell höhenverstellbar</wert>
      <wert id="ast31-el">Elektrisch höheneinstellbar</wert>
    </gestelle>
    <farben>
      <wert id="lichtgrau">Lichtgrau</wert>
      <wert id="weissaluminium" default="true">Weißaluminium</wert>
    </farben>
    <platten>
      <wert id="buche">Buche</wert>
      <wert id="weiss" default="true">Weiß</wert>
    </platten>
    <seitenblenden>
      <wert id="ohne" default="true">ohne</wert>
      <wert id="links">links</wert>
      <wert id="rechts">rechts</wert>
      <wert id="links-rechts">links + rechts</wert>
    </seitenblenden>
    <seitenfarben>
      <wert id="gestell" default="true">Gestellfarbe</wert>
      <wert id="blau">Blau</wert>
      <wert id="anthrazit">Anthrazit</wert>
    </seitenfarben>
    <aufbauten>
      <wert id="ohne" default="true">ohne</wert>
      <wert id="niedrig">niedrig</wert>
      <wert id="hoch">hoch</wert>
    </aufbauten>
    <bodenanzahl>
    <wert id="0" default="true">keiner</wert>
    <wert id="1">1 Boden</wert>
    <wert id="2">2 Böden</wert>
    <wert id="3">3 Böden</wert>
    <wert id="4">4 Böden</wert>
  </bodenanzahl>
    <plattenanzahl>
      <wert id="0" default="true">keine</wert>
      <wert id="1">1 Platte</wert>
      <wert id="2">2 Platten</wert>
      <wert id="3">3 Platten</wert>
    </plattenanzahl>
     <laufschienenanzahl>
    <wert id="0" default="true">keine</wert>
    <wert id="1">1 Laufschiene</wert>
    <wert id="2">2 Laufschienen</wert>
  </laufschienenanzahl> 
    <containerpos>
    <wert id="ohne" default="true">ohne</wert>
    <wert id="links">links</wert>
    <wert id="rechts">rechts</wert>
    <wert id="links-rechts">links + rechts</wert>
  </containerpos>

  <containerfarben>
    <wert id="gestell" default="true">Gestellfarbe</wert>
    <wert id="blau">Enzianblau</wert>
    <wert id="anthrazit">Anthrazit</wert>
  </containerfarben> 
    
  <ablagebordOptionen>
  <wert id="ohne"  default="true">ohne</wert>
  <wert id="buche">Buche</wert>
  <wert id="weiss">Weiß</wert>
</ablagebordOptionen>

  </options>

  <layers>
    <!-- Hier beschreiben wir, welche Layer existieren und wie sie zusammengesetzt werden -->
    <layer id="grundtisch" 
        folder="grundtisch" 
        keyPattern="{gestell}-{farbe}-{platte}-{breite}" 
        offsetGroup="grundtische"
    />
    <layer id="seitenLinks" 
        folder="seitenblenden" 
        keyPattern="links-{seitenfarbe}" 
        dependsOn="seitenblende:links|links-rechts" 
        offsetGroup="seitenOffsets"
    />
    <layer id="seitenRechts" 
        folder="seitenblenden" 
        keyPattern="rechts-{seitenfarbe}" 
        dependsOn="seitenblende:rechts|links-rechts" 
        offsetGroup="seitenOffsets"
    />
    <!-- Aufbau: Säulen -->
    <layer id="saeulen"
           folder="aufbau"
           keyPattern="saeulen-{aufbau}-{breite}"
           dependsOn="aufbau:niedrig|hoch"
           offsetGroup="saeulenOffsets"/>

    <!-- Verstellbare Böden -->
    <layer id="boden1" folder="verstellboden" keyPattern="boden-{farbe}-{breite}" dependsOn="bodenanzahl:1|2|3|4,aufbau:niedrig|hoch" offsetGroup="bodenOffsets"/>
    <layer id="boden2" folder="verstellboden" keyPattern="boden-{farbe}-{breite}" dependsOn="bodenanzahl:2|3|4,aufbau:niedrig|hoch" offsetGroup="bodenOffsets"/>
    <layer id="boden3" folder="verstellboden" keyPattern="boden-{farbe}-{breite}" dependsOn="bodenanzahl:3|4,aufbau:hoch" offsetGroup="bodenOffsets"/>
    <layer id="boden4" folder="verstellboden" keyPattern="boden-{farbe}-{breite}" dependsOn="bodenanzahl:4,aufbau:hoch" offsetGroup="bodenOffsets"/>

    <!-- Lochrasterplatten -->
    <layer id="platte1" folder="aufbau" keyPattern="platte-{farbe}-{breite}" dependsOn="plattenanzahl:1|2|3,aufbau:niedrig|hoch" offsetGroup="plattenOffsets"/>
    <layer id="platte2" folder="aufbau" keyPattern="platte-{farbe}-{breite}" dependsOn="plattenanzahl:2|3,aufbau:niedrig|hoch" offsetGroup="plattenOffsets"/>
    <layer id="platte3" folder="aufbau" keyPattern="platte-{farbe}-{breite}" dependsOn="plattenanzahl:3,aufbau:hoch" offsetGroup="plattenOffsets"/>
    <!-- Laufschienen -->
    <layer id="laufschiene1" folder="laufschienen" keyPattern="laufschiene-{breite}" dependsOn="aufbau:hoch,laufschienenanzahl:1|2" offsetGroup="laufschienenOffsets"/>
    <layer id="laufschiene2" folder="laufschienen" keyPattern="laufschiene-{breite}" dependsOn="aufbau:hoch,laufschienenanzahl:2" offsetGroup="laufschienenOffsets"/>
    <layer id="ablagebord"
           folder="ablagebord"
           keyPattern="ablagebord-{ablagebord}-{breite}"
           dependsOn="gestell:ast31,ablagebord:buche|weiss"
           offsetGroup="ablagebordOffsets"/>
    <layer id="containerLinks"
           folder="container"
           keyPattern="container-{farbe}-{containerfarbe}-{breite}"
           dependsOn="containerpos:links|links-rechts"
           offsetGroup="containerOffsets"/>
    <layer id="containerRechts"
           folder="container"
           keyPattern="container-{farbe}-{containerfarbe}-{breite}"
           dependsOn="containerpos:rechts|links-rechts"
           offsetGroup="containerOffsets"/>
  </layers>
 <offsets>
    <grundtische>
        <item id="ast31-lichtgrau-buche-750" x="0" y="340" scaleX="0.502" scaleY="0.5"/>
        <item id="ast31-lichtgrau-buche-1500" x="1" y="340" scaleX="0.502" scaleY="0.5"/>
        <item id="ast31-lichtgrau-buche-2000" x="0" y="340" scaleX="0.512" scaleY="0.5"/>
        <item id="ast31-lichtgrau-weiss-750" x="0" y="340" scaleX="0.5" scaleY="0.5"/>
        <item id="ast31-lichtgrau-weiss-1500" x="1" y="340" scaleX="0.5" scaleY="0.5"/>
        <item id="ast31-lichtgrau-weiss-2000" x="0" y="340" scaleX="0.5" scaleY="0.5"/>
        <item id="ast31-weissaluminium-buche-750" x="0" y="340" scaleX="0.502" scaleY="0.5"/>
        <item id="ast31-weissaluminium-buche-1500" x="0" y="340" scaleX="0.502" scaleY="0.5"/>
        <item id="ast31-weissaluminium-buche-2000" x="0" y="340" scaleX="0.512" scaleY="0.5"/>
        <item id="ast31-weissaluminium-weiss-750" x="0" y="340" scaleX="0.5" scaleY="0.5"/>
        <item id="ast31-weissaluminium-weiss-1500" x="0" y="340" scaleX="0.5" scaleY="0.5"/>
        <item id="ast31-weissaluminium-weiss-2000" x="0" y="340" scaleX="0.5" scaleY="0.5"/>
        <item id="ast31-el-weissaluminium-buche-750" x="4" y="339" scaleX="0.468" scaleY="0.4"/>
        <item id="ast31-el-weissaluminium-buche-1500" x="0" y="340" scaleX="0.473" scaleY="0.45"/>
        <item id="ast31-el-weissaluminium-buche-2000" x="0" y="340" scaleX="0.48" scaleY="0.48"/>
        <item id="ast31-el-weissaluminium-weiss-750" x="6" y="339" scaleX="0.392" scaleY="0.4"/>
        <item id="ast31-el-weissaluminium-weiss-1500" x="0" y="340" scaleX="0.473" scaleY="0.45"/>
        <item id="ast31-el-weissaluminium-weiss-2000" x="0" y="340" scaleX="0.48" scaleY="0.48"/>

    </grundtische>
    <seitenOffsets>
      <item breite="750" side="left" x="18" y="383" scaleX="0.375" scaleY="0.375"/>
      <item breite="750" side="right" x="188" y="383" scaleX="0.375" scaleY="0.375"/>
        
      <item breite="1500" side="left" x="17" y="383" scaleX="0.38" scaleY="0.38"/>
      <item breite="1500" side="right" x="403" y="384" scaleX="0.37" scaleY="0.37"/>
        
      <item breite="2000" side="left" x="17" y="383" scaleX="0.38" scaleY="0.38"/>
      <item breite="2000" side="right" x="543" y="383" scaleX="0.38" scaleY="0.38"/>
      <!-- usw. -->
    </seitenOffsets>
    <saeulenOffsets>
      <item id="saeulen-niedrig-750" x="7" y="182" scaleX="0.495" scaleY="0.5"/>
      <item id="saeulen-niedrig-1500" x="5" y="161" scaleX="0.518" scaleY="0.5"/>
      <item id="saeulen-niedrig-2000" x="5" y="162" scaleX="0.528" scaleY="0.5"/>
        
      <item id="saeulen-hoch-750" x="7" y="40" scaleX="0.495" scaleY="0.5"/>
      <item id="saeulen-hoch-1500" x="5" y="2" scaleX="0.518" scaleY="0.5"/>
      <item id="saeulen-hoch-2000" x="5" y="2" scaleX="0.528" scaleY="0.5"/>
    </saeulenOffsets>
    <plattenOffsets>
      <item id="platte1-750"  x="43" y="262" scaleX="0.342" scaleY="0.32"/>
      <item id="platte1-1500" x="44" y="246" scaleX="0.515" scaleY="0.5"/>
      <item id="platte1-2000" x="48" y="251" scaleX="0.528" scaleY="0.5"/>

      <item id="platte2-750"  x="43" y="184" scaleX="0.342" scaleY="0.32"/>
      <item id="platte2-1500" x="44" y="156" scaleX="0.515" scaleY="0.5"/>
      <item id="platte2-2000" x="48" y="161" scaleX="0.528" scaleY="0.5"/>

      <item id="platte3-750"  x="43" y="106" scaleX="0.342" scaleY="0.32"/>
      <item id="platte3-1500" x="44" y="66" scaleX="0.515" scaleY="0.5"/>
      <item id="platte3-2000" x="48" y="71" scaleX="0.528" scaleY="0.5"/>
    </plattenOffsets>
    <laufschienenOffsets>
      <item id="laufschiene1-750" x="17" y="58" scaleX="0.235" scaleY="0.235"/>
      <item id="laufschiene2-750" x="9" y="53" scaleX="0.251" scaleY="0.251"/>

      <item id="laufschiene1-1500" x="20" y="21" scaleX="0.251" scaleY="0.251"/>
      <item id="laufschiene2-1500" x="11" y="15" scaleX="0.26" scaleY="0.26"/>
      
      <item id="laufschiene1-2000" x="16" y="21" scaleX="0.24" scaleY="0.24"/>
      <item id="laufschiene2-2000" x="7" y="15" scaleX="0.247" scaleY="0.247"/>
    </laufschienenOffsets>
    <bodenOffsets>
      <item id="boden1-750" x="27" y="233" scaleX="0.141" scaleY="0.141"/>
      <item id="boden1-1500" x="24" y="216" scaleX="0.171" scaleY="0.171"/>
      <item id="boden1-2000" x="23" y="216" scaleX="0.1772" scaleY="0.1772"/>

      <item id="boden2-750" x="27" y="195" scaleX="0.141" scaleY="0.141"/>
      <item id="boden2-1500" x="24" y="175" scaleX="0.171" scaleY="0.171"/>
      <item id="boden2-2000" x="23" y="175" scaleX="0.1772" scaleY="0.1772"/>

      <item id="boden3-750" x="27" y="150" scaleX="0.141" scaleY="0.141"/>
      <item id="boden3-1500" x="24" y="125" scaleX="0.171" scaleY="0.171"/>
      <item id="boden3-2000" x="23" y="125" scaleX="0.1772" scaleY="0.1772"/>

      <item id="boden4-750" x="27" y="115" scaleX="0.141" scaleY="0.141"/>
      <item id="boden4-1500" x="24" y="82" scaleX="0.171" scaleY="0.171"/>
      <item id="boden4-2000" x="23" y="82" scaleX="0.1772" scaleY="0.1772"/>
  </bodenOffsets>
    <containerOffsets>
    <!-- 750 mm: nur links/rechts -->
    <item breite="750" side="left"  x="12" y="378" scaleX="0.25" scaleY="0.25"/>
    <item breite="750" side="right" x="210" y="378" scaleX="0.25" scaleY="0.25"/>

    <!-- 1500 mm: links/rechts/links+rechts -->
    <item breite="1500" side="left"  x="11" y="377" scaleX="0.25" scaleY="0.25"/>
    <item breite="1500" side="right" x="425" y="378" scaleX="0.25" scaleY="0.25"/>

    <!-- 2000 mm: links/rechts/links+rechts -->
    <item breite="2000" side="left"  x="11" y="377" scaleX="0.25" scaleY="0.25"/>
    <item breite="2000" side="right" x="565" y="378" scaleX="0.25" scaleY="0.25"/>
  </containerOffsets>
    <ablagebordOffsets>
  <item id="ablagebord-buche-750"  x="22" y="461" scaleX="0.445" scaleY="0.42"/>
  <item id="ablagebord-buche-1500" x="18" y="460" scaleX="0.497" scaleY="0.50"/>
  <item id="ablagebord-buche-2000" x="21" y="459" scaleX="0.5" scaleY="0.5"/>

  <item id="ablagebord-weiss-750"  x="24" y="463" scaleX="0.38" scaleY="0.5"/>
  <item id="ablagebord-weiss-1500" x="20" y="465" scaleX="0.497" scaleY="0.55"/>
  <item id="ablagebord-weiss-2000" x="21" y="461" scaleX="0.53" scaleY="0.55"/>
</ablagebordOffsets>

  </offsets>


</config>
